# Python Virtual Environment
venv/
ebm_venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/ 
ebm_env/
forward_data.h5
backward_data.h5
gd_ebm/mnist_cache/
