# Python Virtual Environment
venv/
ebm_venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Generated data and plots
*.h5
*.png
*.html

# Specific cache (though covered by __pycache__ generally)
*.pyc 